@model OutfitO.Models.Product
@{
    Layout = "_ProductDetailsLayout";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div id="modal-placeholder"></div>

<!-- Product main img -->
<div class="col-md-5">
    <img src="~/Images/@Model.Img" height="500px" />
</div>
<!-- /Product main img -->
<!-- Product details -->
<div class="col-md-5">
    <div class="product-details">
        <h2 class="product-name">@Model.Title</h2>
        <div>
            <div class="product-rating">
                <i class="fa fa-star-fill"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <a class="review-link" href="#tab3">10 Review(s) | Add your review</a>
        </div>
        <div>
            <h3 class="product-price">@Model.Price <del class="product-old-price">@(2 * @Model.Price)</del></h3>
            <span class="product-available">@Model.Stock In Stock</span>
        </div>
        <p>@Model.Description.</p>

        <div class="product-options">
            <label>
                Size
                <select class="input-select">
                    <option value="0">X</option>
                </select>
            </label>
            <label>
                Color
                <select class="input-select">
                    <option value="0">Red</option>
                </select>
            </label>
        </div>

        <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
            <a href="/Product/Index">
                👈 Back To List
            </a>
        </div>

    </div>

</div>
<div class="clearboth"></div>
<div class="col-md-12">
    <div id="product-tab">
        <!-- product tab nav -->
        <ul class="tab-nav">
            <li><a data-toggle="tab" href="#tab3">All Reviews (@Model.Comments.Count) </a></li>
        </ul>
        <!-- Review Form -->
        <div id="review" style="display: none;">
            <div id="Display_Review">
                <div id="all-comments">
                    @Html.Partial("_AllCommentsPartial", Model.Comments)
                </div>
                <div class="col-md-3">
                    <div id="review-form">
                        <form class="review-form">
                            <textarea class="input" placeholder="Your Review"></textarea>
                            <div class="input-rating">
                                <span>Your Rating: </span>
                                <div class="stars">
                                    <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                    <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                    <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                    <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                    <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                </div>
                            </div>
                            <button class="primary-btn">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- /Product details -->

<div class="col-md-12">
    <div id="product-tab">
        <!-- product tab nav -->
        <ul class="tab-nav">
            <li><a data-toggle="tab" href="#tab3">All Reviews (@Model.Comments.Count)</a></li>
        </ul>
        <!-- Review Form -->
        <div id="review" style="display: none;">
            <div id="Display_Review">
                <div id="all-comments">
                    @Html.Partial("_AllCommentsPartial", Model.Comments)
                </div>
                <div class="col-md-3">
                    <div id="review-form">
                        <form class="review-form" id="commentForm">
                            <textarea class="input" id="commentBody" placeholder="Your Review"></textarea>
                            <div class="input-rating">
                                <span>Your Rating: </span>
                                <div class="stars">
                                    <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                    <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                    <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                    <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                    <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                </div>
                            </div>
                            <button class="primary-btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Product details -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        $('#product-tab').on('click', 'a[data-toggle="tab"]', function (e) {
            var target = $(e.target).attr("href");
            if (target === "#tab3") {
                $('#review').toggle();
            }
        });

        $('#commentForm').submit(function (e) {
            e.preventDefault();
            var formData = {
                Body: $('#commentBody').val(),
                ProductID: @Model.Id // Assuming Id is the property of Product model
                };
            $.ajax({
                type: "POST",
                url: "/Product/AddComment",
                data: formData,
                success: function (response) {
                    // Reload the comments section to display the updated list of comments
                    $('#all-comments').load('/Product/Details/@Model.Id #all-comments');

                    // Clear the textarea after successfully adding a comment
                    $('#commentBody').val('');
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error("Error adding comment: " + errorThrown);
                }
            });
        });
    });
</script>


<style>
    .clearboth {
        clear: both;
    }

    #Display_Review {
        display: flex;
    }

    .detail
    {
        margin-left:10%;

    }
</style>
