@model List<CartItem>
@{
    decimal Tmony;
    Layout  = "_ProductLayout";
}
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="./css/cart.css">
</head>

<section class="container-fluid">
    <div class="vf-grid-wrap vf-grid-wrap-max">
        <div class="vf-grid-10 cart-container">
            <div class="cart-page">
                <div class="cart">
                    <h3>Cart Items</h3>
                    @foreach (var item in Model)
                    {
                        <div class="cart-card">
                            <div class="cart-card-container" id="card">
                                <div class="cartCard-image">
                                    @{
                                        string imagePath = $"~/Images/{item.Product.Img}";
                                    }
                                    <img src="@Url.Content(imagePath)" alt="" onclick="detail('@item.ProductID')">
                                </div>
                                <div class="cartCard-details">
                                    <p class="cartProduct-name">@item.Product.Title</p>
                                    @{
                                         Tmony = item.Product.Price * item.Quantity;
                                    }
                                    <h5 class="cartProduct-price" id="total-@item.ProductID"> @Tmony $</h5>
                                    <div class="counter-container">
                                        <div class="counter">
                                            <input type="button" id="sub-@item.ProductID" onclick="sub('@item.ProductID')" value="-" class="minus">
                                            <input type="number" id="quantity-@item.ProductID" name="quantity" class="counter-disabled ng-untouched ng-pristine" disabled="" value="@item.Quantity">
                                            <input type="button" id="sum-@item.ProductID" onclick="sum('@item.ProductID')" value="+" class="plus">
                                        </div>
                                    </div>
                                    <div class="cart-actions" onclick="remove('@item.ProductID')">
                                        <p>
                                            <span class="glyphicon glyphicon-trash"></span>
                                            Remove
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="cart cart-summary">
                    <h3>Order Summary</h3>
                    <div class="summary-section">
                        <form asp-controller="PromoCode" asp-action="CheckOut" method="post">
                            <div class="order-summary">
                                <div class="code-input">
                                    <h5>
                                        <span class="glyphicon glyphicon-chevron-right"></span> Promocodes
                                    </h5>
                                    <div class="input">
                                        <input type="text" placeholder="Enter promo code" dir="ltr" class="ng-untouched ng-pristine ng-valid" id="Promo">
                                        @* <div class="promoCode-loading">
                                        <input type="button" value="Apply" dir="ltr">
                                        </div> *@
                                    </div>
                                </div>
                                <div class="order-cost">
                                    <div class="subtotal">
                                        <p> Subtotal ( <span id="length">@ViewBag.Count</span> Items ) </p>
                                        <p class="total">@ViewBag.Price</p>
                                    </div>
                                    <hr>
                                    <div class="vat">
                                        <p> Total </p>
                                        <p class="total">@ViewBag.Price </p>
                                    </div>
                                </div>
                                <div class="order-actions">
                                    <button class="checkout-btn" id="check" type="submit">
                                        <i class="fa fa-credit-card" style="font-size:20px"></i> Go to checkout
                                    </button>
                                    <button class="shopping-btn" asp-action="Index" asp-controller="Product"> Continue shopping </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>
<script>
    function detail(itemId) {
        // $.ajax({
        //     // url: '/Product/--------',
        //     // type: 'GET',
        //     // data: { -- -: itemId
        // },
        //     success: function (response) {
        //         console.log(response);
        //     },
        //     error: function (xhr, status, error) {
        //         console.error(error);
        //     }
        //     });
        }

    function remove(itemId) {
        $.ajax({
            url: '/Cart/Delete/' + itemId,
            type: 'POST', // Change the HTTP method to POST
            success: function (response) {
                // Remove the cart item container from the DOM
                $('#card-' + itemId).remove();
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }



    function sub(itemId) {
        $.ajax({
            url: '/Cart/DecreaseQuantity/' + itemId,
            type: 'POST',
            success: function (response) {
                if (response) {
                    console.log(response);
                    $('#quantity-' + itemId).val(response.quantity); // Update quantity
                    $('#total-' + itemId).text(response.quantity * response.itemPrice); // Update total price
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function sum(itemId) {
        $.ajax({
            url: '/Cart/IncrementQuantity/' + itemId,
            type: 'POST',
            success: function (response) {
                if (response) {
                    console.log(response);
                    $('#quantity-' + itemId).val(response.quantity); // Update quantity
                    $('#total-' + itemId).text(response.quantity * response.itemPrice); // Update total price
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }


    function Checkout() {
        let item = document.getElementById("Promo").value;
        $.ajax({
            url: '/Cart/CheckOut',
            type: 'POST',
            data: { promo: item },
            success: function (response) {
                console.log(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>

