@model List<Order>

@{
    ViewData["Title"] = "Order";
    Layout = "_AdminLayout";
}
<style>
    .table-container {
        max-height: 300px; /* Adjust this value as needed */
        overflow-y: auto;
    }

    .table-container table thead th {
        position: sticky;
        top: 0;
            background-color: #85C1E9; 
        z-index: 1;
    }

</style>
<div id="modal-placeholder">
    <!--this is the partial view container-->
</div>


<!--this is search nav-->
<div class="head bg-white p-15 between-flex">
    <div class="search p-relative">
        <input class="p-10" type="search" placeholder="Search" />
    </div>
    <div class="icons d-flex align-center">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
                @ViewBag.User.FirstName
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Profile" asp-action="EditData" asp-route-id="@ViewBag.User.Id" style="color: black;">
                        <i class="fa-solid fa-gear fa-fw"></i>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="User" asp-route-id="@ViewBag.User.Id" style="color: black;">
                        <i class="fa-solid fa-sign-out-alt fa-fw"></i>
                        <span>Logout</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" onclick="DeleteAccount('@ViewBag.User.Id')" style="color: black;">
                        <i class="fa-solid fa-trash-alt fa-fw"></i>
                        <span>Delete Account</span>
                    </a>
                </li>
            </ul>
        </div>

        @{
            string imagePath = $"~/Images/{ViewBag.User.ProfileImage}";
        }
        <img src="@Url.Content(imagePath)" alt="" style="border-radius:50%" />
    </div>
</div>



<div class="Section p-20 bg-white rad-10 m-20">
    <h2 class="mt-0 mb-20">Orders</h2>
    <div class="responsive-table">
        <table>
            <thead>
                <tr>
                    <th>User Full Name</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Order order in Model)
                {
                    
                        string FullName = $"{order.User.FirstName} {order.User.Lastname}";
                  
                    <tr>
                        <td>@FullName</td>
                        <td>@order.Date</td>
                        <td>@order.Price</td>
                        <td>
                            <a href="#" onclick="OrderDetails('@order.Id')">  <i class="fa fa-eye"></i> </a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>



        <nav aria-label="Page navigation" class="my-5">
            <ul class="pagination justify-content-center">
                @for (int i = 1; i <= Math.Ceiling((double)(int)ViewData["TotalItems"] / (int)ViewData["content"]); i++)
                {
                    <li class="page-item @(i == (int)ViewData["Page"] ? "active" : "")  ">
                        <a class="page-link btn btn-secondary mx-1" asp-action="Index" asp-controller="Order" asp-route-page="@i">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>

    function OrderDetails(id) {
        console.log(id);
        event.preventDefault();
        $.ajax({
            url: `/Order/Details/${id}`,
            success: function (result) {
                console.log(result);
                $("#modal-placeholder").html(result);
                $('#OrderDetailsModal').modal('show');
            }
        });
    }
   

</script>