@model List<OrderItem>
@{
    ViewData["Title"] = "Details";
}


@* <h4 class="card-title">Order Date : @Model[0].Order.Date</h4>
<h4 class="card-title">Order Total Price : @Model[0].Order.Price</h4> *@
<table class="table table-border table-hover">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Unite Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
  

        </tr>
    </thead>
    <tbody>
        @foreach (OrderItem orderItem in Model)
        {
            <tr>
                <td>@orderItem.Product.Title</td>
                <td>@orderItem.Product.Price</td>
                <td>@orderItem.Quantity</td>
                <td>@orderItem.Price</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="UserOrders" asp-controller="Order" class="btn btn-primary">Back to Orders</a>